RT_mapper/RT_movie_titles.txt
.*
/baseline/user_total/*.txt
/baseline/movie_total/*.txt
/make_predictions/*.txt
/data
/training_set_reshape/training_set_reshape.txt
/training_set_with_movie_ids/data_set_w_mid/mv*.txt
/training_set_with_movie_ids/training_set_w_mid/mv*.txt
